{% extends 'base.html.twig' %}

{% block title %}Factures index{% endblock %}

{% block body %}
<div class="container">
    <h1>Mes factures</h1>
    <a href="{{ path('factures_new') }}">Ajouter une facture</a>
    <form method="POST">
        <label>Rechercher par nom</label>
        <input name="search_name" id="value">
        <label>A partir du :</label>
        <input type="date" id="date1">
        <label>Jusqu'au : </label>
        <input type="date" id="date2">
        <input type="submit" id="search">
    </form>
    <table class="table container">
        <thead>
            <tr>
                <th>Date d'émission</th>
                <th>Nom du client</th>
                <th>Destinataire</th>
                <th>Taux de TVA</th>
                <th>Prix HT</th>
                <th>Prix TTC</th>
                <th>Cout de la TVA</th>
                <th>Facture PDF</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.date|date("Y/m/d") }}</td>
                <td>{{ facture.clientName }}</td>
                <td>{{ facture.emitted ? 'Votre client' : 'Vous' }}</td>
                <td>{{ facture.tva }}%</td>
                <td>{{ facture.prixHt }}€</td>
                <td>{{ facture.prixTtc }}€</td>
                <td>{{ facture.coutTVA }}€</td>
                <td><a href="{{ "/userdocuments/" ~ app.user.login ~ "/factures/" ~ facture.filePath }}">Voir ma facture</a></td>
                <td>
                    <a href="{{ path('factures_show', {'id': facture.id}) }}">Afficher détails</a>
                    <a href="{{ path('factures_edit', {'id': facture.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="results">

    </div>
</div>
{% endblock %}
