{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}
    <div class="container">
        <h1>Factures</h1>
        <a href="{{ path('factures_index') }}">Retour</a>
        <a href="{{ path('factures_edit', {'id': facture.id}) }}">Modifier</a>
        {{ include('factures/_delete_form.html.twig') }}
        <table class="table">
            <tbody>
                <tr>
                    <th>ClientName</th>
                    <td>{{ facture.clientName }}</td>
                </tr>
                <tr>
                    <th>Emitted</th>
                    <td>{{ facture.emitted ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Prix_ht</th>
                    <td>{{ facture.prixHt }}</td>
                </tr>
                <tr>
                    <th>Prix_ttc</th>
                    <td>{{ facture.prixTtc }}</td>
                </tr>
                <tr>
                    <th>TVA Applicable</th>
                    <td>{{ facture.tva }}%</td>
                </tr>
            </tbody>
        </table>
        <div id="pdf-file" class="container mx-auto">
            <embed src="{{ "/userdocuments/" ~ app.user.login ~ "/factures/" ~ facture.filePath }}" height="800px" width="100%">
        </div>
    </div>
{% endblock %}
