{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Articles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ article.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ article.body }}</td>
            </tr>
            <tr>
                <th>Last_modified</th>
                <td>{{ article.lastModified ? article.lastModified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ article.score }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ article.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('articles_index') }}">back to list</a>

    <a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>

    {{ include('articles/_delete_form.html.twig') }}
{% endblock %}
